{% extends 'base.html' %} {% load static %} {% block title%} SingleBlog {% endblock %} {% block content %}
<!--start of the single blog-->
<div class="container py-8 pt-lg-11">
  <div class="row">
    <div class="col-xl-8 mx-auto">
      <h1 class="text-capitalize">
        Keep your face always toward the sunshine - and shadows will fall behind
        you.
      </h1>

      <p class="me-xl-12">
        Master Figma app to get a job in UI Design, User Interface, User
        Experience design, Web Design &amp; UX design.
      </p>

      <div class="d-md-flex align-items-center">
        <div class="border rounded-circle d-inline-block mb-4 mb-md-0 me-4">
          <div class="p-1">
            <img
              src="{%static 'assets/img/avatars/avatar-1.jpg'%}"
              alt="..."
              class="rounded-circle"
              width="52"
              height="52"
            />
          </div>
        </div>

        <div class="mb-4 mb-md-0">
          <a href="#" class="d-block"><h6 class="mb-0">Alison Dawn</h6></a>
          <span class="font-size-sm">April 06, 2020</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mb-8 sk-thumbnail img-ratio-7">
  <img
    src="{%static 'assets/img/covers/cover-20.jpg'%}"
    alt="..."
    class="img-fluid"
  />
</div>
<div class="container">
  <div class="row mb-8 mb-md-12">
    <div class="col-xl-8 mx-auto" style="background-color: #cda4a4">
      <h3 class="">Course Description</h3>
      <p class="mb-6 line-height-md">
        Aliquam hendrerit sollicitudin purus, quis rutrum mi accumsan nec.
        Quisque bibendum orci ac nibh facilisis, at malesuada orci congue.
        Nullam tempus sollicitudin cursus. Ut et adipiscing erat. Curabitur this
        is a text link libero tempus congue. Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Aliquam velit quia fuga inventore eaque.
        Accusamus porro amet fugit quisquam hic dolor praesentium odit mollitia
        corporis adipisci libero delectus quod dicta neque et consequatur
        blanditiis explicabo, veritatis ad reprehenderit ipsam. Sapiente
        voluptatibus vero a et sequi. Numquam, sunt possimus eligendi ratione
        temporibus, ea repellendus facere repellat error maxime explicabo sequi
        sit similique necessitatibus excepturi eius quisquam pariatur odit dicta
        quos nam perferendis dolorum saepe! Magnam deserunt consectetur earum
        velit repudiandae unde, iusto, qui dignissimos laboriosam corporis
        debitis harum. Expedita ex dignissimos reiciendis dolorum iste animi
        repudiandae neque. Doloribus animi neque suscipit, nostrum dicta tempore
        molestias vel sapiente a laboriosam laborum fugit sed magni. Nisi alias
        illum aperiam fugiat quo corporis veritatis voluptate quae ipsam labore
        quibusdam ea, voluptatibus officiis nulla, molestias fuga, debitis
        numquam excepturi non iure adipisci ratione aliquid! Aliquam tempora
        facere nesciunt alias cum voluptatum illo dolorum pariatur. Praesentium
        provident optio asperiores quo officia sapiente, esse eum pariatur?
        Pariatur similique officiis, dolor ipsam inventore accusamus obcaecati!
        Commodi officia optio sit animi totam voluptas adipisci debitis nemo
        iure suscipit sequi at asperiores magni doloribus tenetur quo corrupti
        sapiente aliquid eligendi, praesentium rem quibusdam. Corrupti
        doloribus, possimus reiciendis distinctio quidem esse libero impedit eum
        dolores itaque voluptatibus ipsam. Earum molestiae sunt, recusandae
        nostrum saepe dicta impedit at necessitatibus, voluptates reprehenderit
        vel eaque cupiditate quos quisquam reiciendis neque ducimus. Beatae,
        animi quae fugiat ea quisquam velit ipsam itaque cumque est, rem ad
        praesentium ullam cum et sapiente id recusandae unde incidunt libero
        omnis, impedit commodi. Rerum debitis eius maiores unde soluta labore.
        Natus quidem minus omnis doloribus, quae aliquam beatae exercitationem!
        Quia laboriosam vel ut, accusamus ratione officiis facere id eum
        pariatur. In amet ipsum consequatur eius maxime consectetur quaerat,
        dolore, labore perspiciatis nihil voluptatem esse odio omnis nisi
        dolorum unde vitae impedit explicabo odit laudantium excepturi cum quo!
        Velit, iure! Quisquam facere expedita temporibus corrupti cumque, soluta
        incidunt. Qui nostrum fugiat iste praesentium blanditiis delectus
        dolores eius itaque eum deserunt, suscipit, quasi iure! Expedita
        obcaecati amet odit beatae dicta maxime nesciunt ipsam eum? Odio
        suscipit doloribus maxime exercitationem autem mollitia blanditiis, rem
        harum consequuntur quaerat eligendi ab, pariatur deserunt aliquam
        reprehenderit accusamus quos non odit. Assumenda vel totam harum,
        quibusdam omnis beatae commodi iste atque, quam asperiores rem at ex
        reiciendis sunt similique voluptate? Repudiandae obcaecati explicabo
        quam perspiciatis consequatur inventore eligendi debitis labore culpa
        sint nihil mollitia quas quod, sunt impedit provident eum quasi
        temporibus ipsum adipisci officiis? Voluptate aperiam libero sequi
        maxime asperiores id eos nesciunt eligendi saepe veniam obcaecati esse
        tempora quos assumenda molestias, distinctio accusamus? Deserunt, modi
        quae illo unde qui reprehenderit incidunt perferendis nihil velit iure
        ex possimus laudantium enim doloremque repudiandae, doloribus tempora
        neque molestias assumenda dicta ipsa maxime praesentium! Autem ab id
        suscipit inventore, vitae tenetur officia fugit quidem dolores natus
        voluptas doloremque dignissimos assumenda nulla perspiciatis esse quia
        quos sapiente quae excepturi temporibus! Itaque quis doloremque
        consequuntur temporibus, deleniti, corporis modi repudiandae
        reprehenderit earum ad delectus magnam voluptates dolorem
        necessitatibus. Quidem, itaque tempora?
      </p>
    </div>
  </div>
</div>
<!--end of the single blog-->
{%endblock content %}
